.Header{
  text-align: left;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Header-logo {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}

.Header-title {
  padding: 0.65em;
  padding-left: 2.5em;
  font-size: 1.5em;
  font-weight: normal !important;
  font-family: system-ui, sans-serif;
}

.Header-badge {
  margin: 0.75em !important; 
  background-color: rgb(0, 124, 224) !important
}

.Calendar {
  position: absolute;
  width: 100%;
  z-index: -1;
}